# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
.DS_Store
.project

Network/node_modules
Network/channel-artifacts/*.tx
Network/channel-artifacts/*.block
Network/crypto-config/*
Network/docker-compose-e2e.yaml
Network/ledgers
Network/ledgers-backup
Network/hfc-key-store/

chaincode-docker-devmode/myc.block
chaincode-docker-devmode/chaincode/sacc/sacc
chaincode-docker-devmode/Network/chaincode/chaincodeFF

# fabric sdk node modules
app/node_modules/
app/package-lock.json
app/react-client/dist/bundle.js

